---

name: CI for springpet clinic
on:
    pull_request:
        branches:
            - main
    workflow_dispatch:
permissions:
    contents: read
    checks: write
    
jobs:
    manual:
        runs-on: ubuntu-24.04
        strategy:
          fail-fast: false
          matrix: 
            java: [21]
        steps:

            - uses: actions/checkout@v4
            - uses: actions/setup-java@v5
              with:
                  distribution: 'temurin'
                  java-version: '${{ matrix.java }}'
                  cache: 'maven'
             
            - name: Initialize CodeQL
              uses: github/codeql-action/init@v3
              with:
                languages: java    

            - name: Build with Maven
              run: mvn clean package
              
            - name: Perform CodeQL Analysis
              uses: github/codeql-action/analyze@v3

            - name: publish  test results
              if: always()
              uses: EnricoMi/publish-unit-test-result-action@v2
              with:
                  files: |
                    **/target/surefire-reports/*.xml

            - name: uploading  packaged jar file
              uses: actions/upload-artifact@v4
              with:
                name: springpetclinic-jar
                path: "**/target/*.jar"

