---

name: CI for springpet clinic



on:
    pull_request:
        branches:
            - main

    workflow_dispatch:

jobs:
    manual-ci:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-java@v4
              with:
                  distribution: 'temurin'
                  java-version: '21'
                  cache: 'maven'
            - name: Build with Maven
              run: mvn clean package
            - name: publish  test results
              uses: EnricoMi/publish-unit-test-result-action@v2
              with:
                  files: |
                    **/target/surefire-reports/*.xml
            - name: uploading  packaged jar file
              uses: actions/upload-artifact@v4
              with:
                name: springpetclinic-jar
                path: "**/target/*.jar"
            - name: code analysis with codeql
              uses:  github/codeql-action/init@v3
              with:
                languages: java
            - uses: github/codeql-action/analyze@v3
             
            
            
            

